.example-container {
    display: flex;
    flex-direction: column;
}

.x-mat-radio-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.x-mat-label, mat-radio-button {
    padding-right: 30px;
}

button{
    margin-bottom: 10px;
}