.x-title{
    text-align: center;
    background-color: beige;
    padding-bottom: 10px; 
}

.example-form-field {
    width: 100%;
  }

.example-container {
    display: flex;
    flex-direction: column;
}

mat-hint {
  color: red
}

.x-encab {
    text-align: center;
    padding-bottom: 20px; 
}